
<div class="row">   
    <div class="col-sm-6">
        <form class="addForm-wrapper" name="addForm" ng-submit="createCart()" novalidate>
            <h3 class=""><span class="glyphicon glyphicon-shopping-cart">ADD ITEMS</span></h3>
            <div class="form-group" >
                <input type="text" name="title" class="form-control input-md" placeholder="Product title" ng-model="product.title" ng-required="true"/>
                    <div ng-show="addForm.title.$touched && addForm.title.$invalid">
                        <small>Enter product title</small>
                    </div>
                <input type="text" name="description" class="form-control input-md" placeholder="Product description" ng-model="product.description" ng-required="true"/>
                    <div ng-show="addForm.description.$touched && addForm.description.$invalid">
                        <small>Enter product description</small>
                    </div>
                <input type="number" name="price" class="form-control input-md " placeholder="1" ng-model="product.price" min="1" step="1" ng-required="true"/>
                        <div ng-show="addForm.price.$touched && addForm.price.$invalid">
                        <small>Enter product price</small>
                    </div>
               <input type="file" id="file">
               <!--Custom Directives-->
               <input-validation></input-validation>
               
                </div>
            <button type="submit" class="btn btn-primary btn-lg" ng-disabled="addForm.$invalid">Upload item</button>
        </form>
        
    </div>
    
    <div class="col-sm-6">
        <div class="stock-wrapper">
            <h3>DELETE ITEMS</h3>
            <div class="row cart-box" ng-repeat="cart in carts">
                <div class="col-xs-3 col-sm-3">
                   <!-- <img src="/images/box-1.png" class="item-img">-->
                     <img ng-src="http://localhost:3000/Uploads/{{cart.image}}" class="item-img">
                </div>
                
                <div class="col-xs-5 col-sm-5 col-sm-offset-0">
                    <div class="item-desc">
                        <h4 class="item-title">{{cart.title }}</h4>
                        <p class="item-desc">{{cart.description}}</p> 
                    </div>
                    <div class="item-qty">
                        <input class="form-control input-qty" ng-model="cart.quantity" type="number" min="0" step="1">
                        <span class="glyphicon glyphicon-remove"  alt="icon" ng-click="deleteCart(cart._id);"></span>
                    </div>
                </div>

                <div class="col-xs-3 col-sm-3">
                    <div class="item-unit">
                        <span>Unit{{cart.price | currency}}</span>
                    </div>
                </div>

            </div>
        </div>
    </div>
    

</div>

