<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="stock-wrapper">
                <h3 class="item-h4"><span class="glyphicon glyphicon-shopping-cart"></span><span class="item-count">{{selection.length}} items</span> in your cart </h3>
                <div class="row cart-box" ng-repeat="item in selection">
                    <div class="col-xs-3 col-sm-3">
                        <img ng-src="http://localhost:3000/Uploads/{{item.image}}" class="item-img">
                    </div>

                    <div class="col-xs-5 col-sm-5 col-sm-offset-0">
                        <div class="item-desc">
                            <h4 class="item-title">{{item.title }}</h4>
                            <p class="item-desc">{{item.description}}</p> 
                        </div>
                        <div class="item-qty">
                            <input class="form-control input-qty"  type="number" ng-model="item.quantity" min="0" step="1" ng-change="Total()">
                            <span class="glyphicon glyphicon-remove"  alt="icon" ng-click="Total(); removeItem(item);"></span>
                        </div>
                    </div>

                <div class="col-xs-3 col-sm-3">
                    <div class="item-unit">
                        <span>Unit{{item.price | currency}}</span>
                    </div>
                    <div class="item-price">
                        <span>Total{{item.price*item.quantity | currency}}</span>
                    </div>
                </div>
            </div>
           
            <div class="chck-option">
                <div class="col-xs-6 col-sm-7 col-sm-offset-0">
                    <div class="dollar-sign">Subtotal:</div>
                    <div class="sum-items">{{Total() | currency}}</div>
                </div>

                <div class="col-xs-3 col-sm-3">
                    <input type="submit" class="btn-checkout" ng-click="updateCart()" value="checkout"></button>
                </div>
            </div>
                   
            </div>
        </div>
    </div>
</div>
