<div class="row">
    <div class="col-sm-12">
        <div class="stock-wrapper">
            <h1>Items on Sales</h1>
            <div class="row cart-box" ng-repeat="cart in carts">
                <div class="col-xs-3 col-sm-3">
                    <img ng-model="cart.image" ng-src="http://localhost:3000/Uploads/{{cart.image}}" class="item-img">
                </div>
                
                <div class="col-xs-5 col-sm-5 col-sm-offset-0">
                    <div class="item-desc">
                        <h4 class="item-title">{{cart.title }}</h4>
                        <p class="item-desc">{{cart.description}}</p> 
                    </div>
                    <div class="item-qty">
                        <input class="form-control input-qty" ng-model="cart.quantity" type="number" min="1" step="1" placeholder="1">
                        <button type="button" class="btn btn-primary btn-sm btn-add" ng-click="getElementID(cart);">Add</button>
                    </div>
                </div>

                <div class="col-xs-3 col-sm-3">
                    <div class="item-unit">
                        <span>Unit{{cart.price | currency}}</span>
                    </div>
                    <div class="item-price">
                        <span>Total{{cart.price*cart.quantity | currency}}</span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
